.playing-card {
  display: inline-block;
  margin: 10px;
  padding-top: 36px;
  width: 76px;
  height: 76px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  border-color: black;
  border-width: 3px;
  border-style: solid;
}