.header-block {
  width: 100%;
  margin: 0;
}

.header-block h1 {
  width: 100%;
  padding: 5px 24px;
  background-color: #1E2A9C;
  color: white;
}

.header-nav {
  margin: 10px 10px 56px 10px;
  position: relative;
  text-align: right;
}

.header-nav span {
  text-transform: uppercase;
  margin: 20px;
}

